<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Header with Log In and Register</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header class="d-flex justify-content-between align-items-start py-3 border-bottom" th:fragment="header-login-register">
    <div class="logo">
        <a th:href="@{/}"><img th:src="@{/images/EasyTrain_Logo_tans2.png}" alt="Logo" class="logo-img"></a>
    </div>
    <div class="login align-self-start">


        <!-- displays logout button to authenticated users -->
        <div sec:authorize="isAuthenticated()">
            <div>
                Logged in as <span th:remove="tag" sec:authentication="name"></span>
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-link text-primary-custom" value="Log Out"/>
            </form>

            <!-- offcanvas link-->
            <a href="#profile" class="d-block mt-3 text-primary-custom" data-bs-toggle="offcanvas" role="button"
               aria-controls="profile">
                Profile
            </a>
        </div>

        <!-- displays login, register links to unauthenticated users -->
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}" class="text-primary-custom">Log In</a>
            <span class="mx-2 text-primary-custom"> | </span>
            <a th:href="@{/register/form}" class="text-primary-custom">Register</a>
        </div>
    </div>
</header>

</body>
</html>