<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Header with Log In and Register</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header class="d-flex justify-content-between align-items-start py-3 border-bottom" th:fragment="header-login-register">
    <div class="logo">
        <a th:href="@{/}"><img th:src="@{/images/EasyTrain_Logo_tans2.png}" alt="Logo" class="logo-img"></a>
    </div>
    <div class="login align-self-start">
        <!-- displays logout button to authenticated users -->
        <div sec:authorize="isAuthenticated()">
            <div class="user-info d-flex align-items-center mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#13152F" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
<!--                <span class="ms-2 text-primary-custom" th:text="${user.firstName} + ' ' + ${user.lastName}"></span>-->
                <span class="ms-2 text-primary-custom">Kai Prager</span>
            </div>
            <!-- offcanvas link and logout button -->
            <div class="d-flex align-items-center">
                <a href="#profile" class="text-primary-custom" data-bs-toggle="offcanvas" role="button" aria-controls="profile">
                    Settings
                </a>
                <span class="mx-2 text-primary-custom"> | </span>
                <form th:action="@{/logout}" method="post" class="mb-0">
                    <input type="submit" class="btn btn-link text-primary-custom p-0" value="Log Out"/>
                </form>
            </div>
        </div>

        <!-- displays login, register links to unauthenticated users -->
        <div sec:authorize="!isAuthenticated()" class="d-flex align-items-center">
            <a th:href="@{/login}" class="text-primary-custom">Log In</a>
            <span class="mx-2 text-primary-custom"> | </span>
            <a th:href="@{/register/form}" class="text-primary-custom">Register</a>
        </div>
    </div>
</header>


</html>