/* Styles for header */
/* Login and Registration text */
.text-primary-custom {
    color: #13152F !important;
}
.text-primary-custom:hover {
    text-decoration: underline;
}

/* Logo Image */
.logo-img {
    height: 150px;
}


/* Styles for nav */
.bg-custom {
    background-color: #F47950 !important;
}

.text-custom {
    color: #EBEBEB !important;
    font-size: 1.50rem;
}

.nav-item .nav-link {
    color: #EBEBEB !important;
    font-size: 1.50rem;
}

.nav-item .nav-link.active {
    background-color: transparent !important;
    color: #13152F !important;
    font-weight: bold;
}

.separator {
    color: #EBEBEB;
    padding: 0 10px;
    font-size: 1.50rem;
    line-height: 1.50;
}

/* Styles for Nav without navigation */
.bg-custom-no-nav {
    background-color: #F47950 !important;
    height: 60px;
}

/* Styles for footer */
.footer-container {
    background-color: #F47950;
    color: #EBEBEB;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.text-main-custom {
    /*matches the color of the nav bar*/
    color: #F47950
}

/* Styles for offcanvas */
.offcanvas-header {
    justify-content: flex-end;
}

.offcanvas-body {
    padding: 20px;
    color: #13152F;
}

.offcanvas-body .text-center {
    margin-bottom: 10px;
}

.offcanvas-body svg {
    margin-top: -20px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #13152F;
    margin-top: 20px;
    margin-bottom: 15px;
}

.link {
    color: #13152F;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    padding: 5px 0;
}

.link:hover {
    color: #F47950;
    text-decoration: none;
}

.btn-custom {
    background-color: #F47950;
    color: #EBEBEB;
    border: 2px solid #13152F;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 100%;
}

.btn-custom:hover {
    background-color: #EBEBEB;
    color: #13152F;
    border: 2px solid #F47950;
}

.btn-close {
    font-size: 1.25rem;
    color: #13152F;
}


/* Styles for error */

.error {
    color: #EF4347;
    font-size: 1rem;
    margin-top: 20px;
}
