/* Styles for Main Section */

.main-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    min-height: 50vh;
}

.main-title-blue {
    color: #13152F;
    font-size: 3.50rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 4%;
}

.orange-content-container {
    background-color: #F47950;
    color: #EBEBEB;
    border-radius: 10px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-top: 60px;
    box-sizing: border-box;
}

.orange-content-text {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0;
}

/* Styles for text container */
.text-entry-container {
    background-color: #EBEBEB;
    color: #13152F;
    border-radius: 10px;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-title {
    color: #F47950;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

.orange-text {
    color: #F47950;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 0;
}

.blue-text {
    color: #13152F;
    font-size: 1.25rem;
    margin: 10px 0;
    padding-bottom: 0;
}

.blue-text-bold {
    color: #13152F;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    padding-bottom: 0;
}

.section-break {
    margin: 10px 0;
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
}

.blue-text-bold {
    color: #13152F;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px 0;
    padding-bottom: 0;
}

/* Styles for the icons */
.icon-container a {
    text-decoration: none;
    margin-right: 50px;
}

.icon-container a:last-child {
    margin-right: 0;
}

.icon-container svg{
    width: 40px;
    height: 40px;
    fill: #13152F;
    transition: fill 0.3s;
}

.icon-container svg:hover {
    fill: #F47950;
}