/* Styles for header */
/* Login and Registration text */
.text-primary-custom {
    color: #13152F !important;
}
.text-primary-custom:hover {
    text-decoration: underline;
}

/* Logo Image */
.logo-img {
    height: 150px;
}

/* Styles for nav */
.bg-custom {
    background-color: #F47950 !important;
}

.text-custom {
    color: #EBEBEB !important;
    font-size: 1.50rem;
}

.nav-item .nav-link {
    color: #EBEBEB !important;
    font-size: 1.50rem;
}

.nav-item .nav-link.active {
    background-color: transparent !important;
    color: #13152F !important;
    font-weight: bold;
}

.separator {
    color: #EBEBEB;
    padding: 0 10px;
    font-size: 1.50rem;
    line-height: 1.50;
}

/* Styles for Main Section */
.main-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    min-height: 50vh;
}

.main-title-blue {
    color: #13152F;
    font-size: 3.50rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 4%;
}

.orange-content-container {
    background-color: #F47950;
    color: #EBEBEB;
    border-radius: 10px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-top: 60px;
    box-sizing: border-box;
}

.orange-content-text {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0;
}

/* Styles for entry container */
.profile-entry-container {
    background-color: #EBEBEB;
    color: #13152F;
    border-radius: 10px;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group {
    flex: 1;
    margin-bottom: 20px;
    text-align: left;
}

.form-group.full-width {
    width: 100%;
}

.form-label {
    display: none;
}

.custom-input {
    width: 100%;
    border: 2px solid #13152F;
    border-radius: 10px;
    padding: 10px;
    color: #13152F;
    font-size: 1rem;
}

.custom-input::placeholder {
    color: #13152F;
}

.required-text {
    color: #13152F;
    font-size: 1rem;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.btn-custom {
    background-color: #F47950;
    color: #EBEBEB;
    border: 2px solid #13152F;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.btn-custom:hover {
    background-color: #EBEBEB;
    color: #13152F;
    border: 2px solid #F47950;
}


/* Styles for footer */
.footer-container {
    background-color: #F47950;
    color: #EBEBEB;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

/* Styles for error message */
.error {
    color: #EF4347;
    font-size: 1rem;
    margin-top: 20px;
}