/* Styles for header */
/* Login and Registration text */
.text-primary-custom {
    color: #13152F !important;
}
.text-primary-custom:hover {
    text-decoration: underline;
}

/* Logo Image */
.logo-img {
    height: 150px;
}

/* Styles for nav */
.bg-custom {
    background-color: #F47950 !important;
}

.text-custom {
    color: #EBEBEB !important;
    font-size: 1.50rem;
}

.nav-item .nav-link {
    color: #EBEBEB !important;
    font-size: 1.50rem;
}

.nav-item .nav-link.active {
    background-color: transparent !important;
    color: #13152F !important;
    font-weight: bold;
}

.separator {
    color: #EBEBEB;
    padding: 0 10px;
    font-size: 1.50rem;
    line-height: 1.50;
}

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Main Section */
.main-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 50vh;
}

.main-title-blue {
    color: #13152F;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 4%;
}

.content-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.date-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.text-secondary {
    color: #13152F;
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 0;
}

.orange-content-container {
    background-color: #F47950;
    color: #EBEBEB;
    border-radius: 10px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-top: 20px;
    box-sizing: border-box;
}

.orange-content-text {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0;
}

/* Timetable Entry Container */
.timetable-entry-container {
    background-color: #EBEBEB;
    color: #13152F;
    border-radius: 10px;
    width: 75%;
    display: grid;
    grid-template-columns: 0.5fr 0.03fr 1.25fr 0.03fr 1.25fr 0.03fr 1fr 0.3fr 0.5fr;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.entry-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.logo-section {
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.train-logo {
    width: 50px;
    height: auto;
}

.train-number {
    font-size: 1.25rem;
    margin: 5px;
}

.entry-separator {
    width: 3px;
    background-color: #13152F;
    height: 100%;
}

.label {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
}

.time, .place, .platform-number, .price-section, .end-station {
    font-size: 1.25rem;
    margin: 0;
}

.entry-section .time,
.entry-section .place,
.entry-section .platform-number,
.entry-section .price-section,
.entry-section .end-station {
    margin-top: 5px;
}

.entry-section .place + .label,
.entry-section .price-section + .label,
.entry-section .end-station + .label,
.entry-section .platform-number + .label {
    margin-top: 10px;
}

.entry-section .label + .place,
.entry-section .label + .time,
.entry-section .label + .end-station,
.entry-section .label + .platform-number {
    margin-top: 5px;
}

.entry-section .label + .label {
    margin-top: 10px;
}

.arrow-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 50px;
    height: auto;
}

.payment-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.payment-section p,
.payment-section .btn-container {
    margin: 0;
    padding: 0;
}

.payment-section .label {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
}

/* Styles for button */

.btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.btn-custom {
    background-color: #F47950;
    color: #EBEBEB;
    border: 2px solid #13152F;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #EBEBEB;
    color: #13152F;
    border: 2px solid #F47950;
}

.btn-custom-inactive {
    background-color: #13152F; /* Background color */
    color: #EBEBEB; /* Text color */
    border: 2px solid #F47950; /* Border color */
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: not-allowed; /* Cursor style for inactive state */
    opacity: 0.6; /* Slightly faded to indicate inactive state */
}


/* Styles for footer */
.footer-container {
    background-color: #F47950;
    color: #EBEBEB;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
