<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Booking</title>
</head>
<body>

<h1>Booking</h1>
<form th:action="@{/getStationOptions}" th:object="${booking}" method="GET">
    <div>
        <input type="text" th:field="*{fromLocation}" placeholder="From">
    </div>
    <div>
        <input type="date" th:field="*{startDate}" placeholder="Date">
    </div>
    <div>
        <input type="time" th:field="*{startTime}" placeholder="Time">
    </div>
    <button type="input">Submit</button>
</form>

</body>
</html>