<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>

</head>
<body>
<h1>Change Password</h1>
<div>
    <!-- Can't load this object into changePassword method in the UserController   -->
    <form action="#" th:action="@{/change_password}" th:object="${changePasswordRequest}" method="POST">
        <input type="text" field="*{currentPassword}" placeholder="Current Password">
        <input type="text" field="*{newPassword}" placeholder="New Password">
        <input type="text" field="*{confirmationPassword}" placeholder="Confirm Password">
        <button type="submit">Change Password</button>
    </form>
</div>
</body>
</html>