<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Register</title>
</head>
<body>

<h1>Register</h1>
<form th:action="@{/process_registration}" th:object="${user}" method="POST">
    <div>
        <input type="text" th:field="*{firstName}" placeholder="First Name">
    </div>
    <div>
        <input type="text" th:field="*{lastName}" placeholder="Last Name">
    </div>
    <div>
        <input type="text" th:field="*{email}" placeholder="Email">
    </div>
    <div>
        <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number">
    </div>
    <div>
        <input type="text" th:field="*{password}" placeholder="Password">
    </div>
    <button type="submit">Submit</button>
</form>

</body>
</html>