<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>

</head>
<body>
<h1>Reset Password</h1>
<div>
    <form action="#" th:action="@{/reset_password}" method="POST">
        <div th:object="${email}">
            <input type="text" th:value="${email.emailAddress}" name="emailAddress" placeholder="Email Address">
            <input type="text" th:value="${changePasswordRequest.newPassword}" name="newPassword" placeholder="New Password">
            <input type="text" th:value="${changePasswordRequest.confirmationPassword}" name="confirmationPassword" placeholder="Confirm Password">
            <button type="submit">Reset Password</button>
        </div>
    </form>
</div>
</body>
</html>