<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timetable List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Timetable List</h2>
    <ul>
        <th:block th:each="timetable : ${timetables}">
            <li th:text="${timetable.startTime} + ' - ' + ${timetable.endTime}"></li>
        </th:block>
    </ul>
</div>
</body>
</html>