<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Station</title>
</head>
<body>
<h2>Update Station</h2>
<form method="post" action="/timetables/{stationId}?_method=PUT">
    <input type="hidden" name="_method" value="PUT">
    <label for="stationName">Station Name:</label>
    <input type="text" id="stationName" name="stationName"><br><br>
    <label for="stationPrefix">Station Prefix:</label>
    <input type="text" id="stationPrefix" name="stationPrefix"><br><br>
    <label for="evaNumber">Eva Number:</label>
    <input type="text" id="evaNumber" name="evaNumber"><br><br>
    <button type="submit">Update</button>
</form>
</body>
</html>